.container_posters{
	display: grid;
	grid-template-columns: 25vw 25vw 25vw 25vw;
	padding-left: 5vw;
	padding-right: 5vw;
	line-height:0.5em


}

.container_poster{
	width: 25vw;
	height: 400px;
	border:30px;
	padding: 10px;

	display: grid;
	grid-template-rows:60% 20% 20%;



}
.container_poster_info{



}

.poster {
	height: 300px;
	

}

